[submodule ".config/awesome/sharedtags"]
	path = .config/awesome/sharedtags
	url = https://github.com/Drauthius/awesome-sharedtags
[submodule ".zplug"]
	path = .zplug
	url = https://github.com/zplug/zplug
